nav {
    background-color: #50b6bb;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    list-style-type: none;
    padding-bottom: 1rem;
}

.heading {
    font-family: 'Rubik Doodle Triangles', system-ui;
    color: white;
    display: inline;
    font-size: 5rem;
    color: whitesmoke;
}

body {
    height: fit-content;
    overflow: hidden;
}

.slider {
    width: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-image: url('images/image.png');
    background-size: cover;
    background-position: center;
    height: 550px;
    margin-top: 40px;
    gap: 2rem;
}

.slider a:hover {
    text-decoration: none;
}

.slider a {
    text-decoration: none;
}

.slider a button {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vh;
    height: 10vh;
    font-size: x-large;
    background-color: #c7ddf990;
    border: transparent;
    text-decoration: none;
    border-radius: 10px;
}

.slider a button:hover {
    background-color: #ffffff;
    color: black;
}

.box {
    width: 45.5%;
    max-height: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #0087F7;
    padding: 40px;
    margin-right: 20px;
    margin: 2% 2% 2% 2%;
}

#encryption_key {
    width: 100%;
}

.dropbox {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.btn1 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #50b6bb;
    color: white;
}

.popup {
    background-color: rgba(0, 0, 0, 0.657);
    display: flex;
    align-items: center;
    z-index: 2;
}

.custom-popup {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.custom-popup .close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#remove-files-btn,
#preview-files-btn {
    display: none;
}

.progress {
    margin-top: 10px;
}

.progress-bar {
    background-color: #007bff;
    color: #ffffff;
}

.preview-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 10px;
    z-index: 100000;
}

.preview-container img {
    max-width: 50%;
    max-width: 50%;
    align-items: center;
}

.preview-container span {
    float: right;
    top: 5px;
    right: 20px;
    font-size: 30px;
    color: white;
    mix-blend-mode: difference;
}

.dropzone .dz-preview:hover .dz-details {
    display: none;
}

.dropzone [title] {
    display: none !important;
}